[submodule "todo-app"]
	path = todo-app
	url = https://github.com/CharlieTruong/todo_backbone_js.git
[submodule "polymer_presentation"]
	path = polymer_presentation
	url = git@personal.github.com:CharlieTruong/polymer_presentation.git
