<header>
  <div class="container">
    <div class="row clearfix">
      <div class="column third">
        <img id="profile_pic" alt="Charlie Truong" src="/assets/images/cmt profile.png"/>
      </div>
      <div id="title">
        <h1><a href="#home">Charlie Truong</a></h1>
      </div>
    </div>
    <div class="row clearfix">
      <nav>
        <ul>
          <li><a href="#about_me"><h3>About Me</h3></a></li>
          <li><a href="#projects"><h3>Projects</h3></a></li>
          <li><a href="#experience"><h3>Experience</h3></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>